* {
  margin: 0; /* Resets margin for all elements */
  padding: 0; /* Resets padding for all elements */
  box-sizing: border-box; /* Ensures padding and borders are included in element dimensions */
  font-family: sans-serif; /* Sets a default font for the entire document */
}

/* background color */
body {
  background: rgb(40, 61, 61);
}
/* Text color */
a {
  color: white;
  text-decoration: none;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%; /* fill screen sideways*/
  padding: 25px 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: rgb(224, 159, 75);
}
.navbar .logo {
  font-size: 30px;
  font-weight: 700;
}
/*unordered list horizontal displayu */
.navbar ul {
  display: flex;
}
/*change list items */
.navbar ul li {
  list-style: none; /*remove bullets */
  margin-left: 35px; /*space list items */
}
/*anchor */
.navbar ul li a {
  font-size: 20px;
  font-weight: 500;
  transition: 0.5s; /*smoother color change for hover */
}
/*Pseudo*/
.navbar ul li:hover a,
.navbar ul li:hover a {
  color: brown;
}

/*Link to personal info Eogn COnradie developer*/
.home {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 60px 9% 0;
  color: white;
}
.home-info p {
  font-size: 16px;
  margin: 10px 0 25px;
}
.home-info .btn-sci {
  display: flex;
  align-items: center;
}
/*Button design*/
.btn {
  display: inline-block;
  padding: 10px 30px;
  background: rgb(136, 96, 96); /*Button Text*/
  border: 2px solid rgb(0, 0, 0);
  border-radius: 40px;
  box-shadow: 0 0 10px #8b765c;
  font-size: 16px;
}
.btn:hover {
  background: transparent;
  color: black;
  box-shadow: none;
}
/*Social media*/
.home-info .btn-sci .sci {
  margin-left: 20px; /*Move icons to right*/
}
/*Social media link*/

.home-info .btn-sci .sci a {
  display: inline-flex;
  padding: 8px;
  border: 2px solid green;
  border-radius: 50%;
}
.home-img .img-box {
  width: 32vw;
  height: 32vw;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.home-img .img-box::before,
.home-img .img-box::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background: conic-gradient(
    transparent,
    transparent,
    transparent,
    rgb(238, 177, 85)
  );
}
.home-img .img-box .img-item {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.home-img .img-box .img-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures full coverage */
  border-radius: 50%;
  mix-blend-mode: lighten;
}
